<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Identification</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

{#
  <h1>Flaskr</h1>
    <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </div>
  #}
    {% block body %}{% endblock %}
</body>

</html>
