{% extends "layout.html" %}
{% block body %}

{# series contient des listes de id, camera, date_debut, date_fin #}
<table>

{% for serie in series}
<a class = "serie" href ={{ url_for('static', filename='style.css') }}> </a>
{% endfor %}

</table>

{% endblock %}
