/* animals style */
.photo{
  width: 100%;
  height: auto;
  padding: 1px;
}

body {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 95vh;
  height: 90vh;
  width: 100vw;
}

main {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
}

header{
  display: flex;
  align-items: baseline;

}
header>*{
  margin-left: 2%;
}
.animdiv {
  display: flex;
  padding: 1px;
  width: 100%;
}


.animdiv.ui-draggable-dragging{
  width: 20vw;
}

.camdiv{
  display: none;
  height: 100%;
}

.droppable {
  background: skyblue;
  min-height: 50px;
  padding-bottom: 50px;
}

nav{
  height: 100%;
  display: inline-block;
}
article{
  display: flex;
  grid-column: 2;
  grid-row: 1;
  flex-direction: column;
}

form{
  display: block;
}

/* Style the tab */
.ui-tabs-nav {
   border: 1px solid #ccc;
   background-color: #f1f1f1;
   list-style: none;

}

/* Style the buttons that are used to open the tab content */
.ui-tabs-nav li {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
}

/* Change background color of buttons on hover */
.ui-tabs-nav li:hover {
   background-color: #ddd;
}

/* Create an active/current tablink class */
.ui-tabs-nav li.active {
   background-color: #ccc;
}
