
/* style de la table des series */
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

table td a{
  display: inline-flex;
}

a p{
    border: solid;
    text-align: center;
    color: #000D71;
    border-color: red
}

a[data-animaux = "0"] p{
    border-color: blue
}

a p:hover{
    background-color: #333;
    color: #A1B9ED;
}

nav, article, header{
  display: none;
}
