{% extends "layout.html.j2" %}


{# variables:
  individus{ model_camera { id_animal {
    "series": [id_serie ...], "photos": [{"file":file, "date":date}]

  description { id: {nom :..., comm:... }...}

#}
{% macro navigation(cameras, id, nom = "", comm = "") %}
<nav data-id = {{id}}>
<header>
<select class="cameras" name="cameras">
  {%for cam in cameras.keys()%}
    <option class={{cam}} value={{cam}}>
      {{cam}}
    </option>
  {%endfor%}
</select>
<h3>{{nom}}</h3>
<p>{{comm}}</p>
</header>
{%for cam in (cameras.keys())%}
<div class="camdiv {{cam}} droppable">
  {%for anim in cameras[cam].keys()%}
    <div class = "animdiv" id="anim{{anim}}" data-id = {{anim}} data-series = {{cameras[cam][anim]["series"]}}>
      {%for photo in cameras[cam][anim]["photos"]%}
      <img class=photo
      data-src={{url_for('send_photo', filename=photo["file"])}}
      title="{{photo['date']}}"
      />
      {%endfor%}
    </div>
  {%endfor%}
</div>
{%endfor%}

</nav>

{% endmacro %}}


{% block style_origin %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='animals.css') }}">
{% endblock %}

{% block script %}
<script type=text/javascript src={{ url_for('static', filename='animals.js') }}></script>
<script type=text/javascript src={{ url_for('static', filename='jquery.elevatezoom.js') }}></script>
<script type=text/javascript src={{ url_for('static', filename='jquery-ui.min.js') }}></script>
{% endblock %}

{% block body %}
<main>
  <form>
    <input type="button" value="Annuler" onclick = "location.reload()">
    <input type="button" value="Sauvegarder" onclick = "update_individu()">
  </form>
  <form id="newind">
    <input type="text" name="nom" placeholder = "nom"/>
    <textarea name = "commentaire" placeholder = "commentaire"></textarea>
    <input type="button" value="Creer individu" onclick = "creer_individu()">
    <div class = "droppable" id="newinddrop"></div>

  </form>
    {{navigation(individus[none], none)}}
  </main>
  <article>
  {%for ind in individus.keys()%}
  {%if ind is not none%}
    {{navigation(individus[ind], ind, description[ind]["nom"], description[ind]["comm"])}}
  {%endif%}
  {%endfor%}
  </article>
{% endblock %}
