{% extends "layout.html.j2" %}

{#variables:
  Animal: id, id_individu, [file_photo]
  non_classe: model {id_animal: [file_photo ...], ...}
#}

{% block style_origin %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='animals.css') }}">
{% endblock %}

{% block script %}
<script type=text/javascript src={{ url_for('static', filename='animals.js') }}></script>
<script type=text/javascript src={{ url_for('static', filename='jquery.elevatezoom.js') }}></script>
{% endblock %}

{% block body %}
<main>
  <header>
    <select class="cameras" name="cameras">
      {%for cam in non_classe.keys()%}
        <option class={{cam}} value={{cam}}>
          {{cam}}
        </option>
      {%endfor%}

    </select>
  </header>
  <nav>
    {%for cam in non_classe.keys()%}
    <div class="camdiv {{cam}}">
      {%for anim in non_classe[cam].keys()%}
        <div class = "animdiv" data-id = {{anim}}>
          {%for photo in non_classe[cam][anim]%}
          <img class=photo
          src={{url_for('send_photo', filename=photo)}}
          title={{photo}}
          />
          {%endfor%}
        </div>
      {%endfor%}
    </div>
    {%endfor%}

  </nav>

</main>
{% endblock %}
