<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Identification</title>

{% block style_origin %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='general.css') }}">
{% endblock %}
{% block style %}{% endblock %}

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript src={{ url_for('static', filename='jquery-1.8.3.min.js') }}></script>
<script type=text/javascript src={{ url_for('static', filename='wheelzoom.js') }}></script>

{% block script %}{% endblock %}

</head>

{% block body %}
<body>
    <header>
      {% block header %}{% endblock %}
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>

    <nav>
      {% block nav %}{% endblock %}
    </nav>
    <article>
      {% block article %}{% endblock %}
    </article>
</body>
{% endblock %}
</html>
